On {{{ CHARGE_TIME }}}, we attempted to charge your Gitter payment to your card ending in {{{ CARD_LAST4 }}}, but the transaction failed.

Amount: {{{ CHARGE_AMOUNT }}}
Reason: {{{ FAILURE_MESSAGE }}}

{{{ RETRY_MESSAGE }}}

If you would like to change or card or other details, head over to https://billing.gitter.im/details

-- The Gitter Team
