Hey {{{ NAME }}}.

Just a friendly reminder that {{{ SENDER }}} invited you to join the {{{ ROOMURI }}} room on Gitter on the {{{ DATE }}}.

Seeing as you haven't joined yet, we thought we'd send you a reminder. If you don't plan to join, don't worry - we won't send you any more.

Click here to get started: https://gitter.im/login/invited?welcome={{{ NAME }}}&uri={{{ ROOMURI }}}
